.form-inline {
  box-sizing: border-box;
}

/* Style the search field */
.form-inline input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 30%;
  background: #f1f1f1;
}

