{% extends 'base.html' %}

{% load static %}

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Simonetta&display=swap" rel="stylesheet">
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/accountt.css' %}">
    {% endblock %}
</head>


{% block body %}
  <div class="container">
    <h1 class="text-center logo my-4">
      <a href="{% url 'home' %}">Pipi's Private Home</a>
    </h1>
    {% block content %}
    {% endblock %}
  </div>
{% endblock %}